body {
    background: white;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .circle-menu {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(2);
    border: 3px solid rgb(8, 92, 42);
  }

  .button {
    --angle: calc(360deg / 6 * var(--i));
    position: absolute;
    width: 173px;
    height: 160px;
    background: rgb(245, 245, 245);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: rgb(0, 0, 0);
    font-weight: 500;
    cursor: pointer;
    transform:
      rotate(var(--angle)) 
      translate(130px); /* Don't rotate back the whole button anymore */
    left: 50%;
    top: 50%;
    transform-origin: center;
  }

  .button span {
    display: block;
    transform: rotate(calc(-1 * var(--angle)));
    padding: 20%;

  }

  .flower {
    border-radius: 50%;
    z-index: 10;
  }
  
  .button:hover {
    background-color: rgba(19, 139, 67, 0.315);
    color: rgb(255, 238, 0);
  }
  
  .button span {
    text-align: center;
    font-size: 16px;
  }
  
  .button:nth-child(1) { /* First button */
    position: absolute;
    left: 64px;
    top: 150px;
    transform: translate(0,0);
    
  }
  .button:nth-child(2) {
    transform: rotate(calc(360deg / 6 * 1)); /* Second button */
    position: absolute;
    left: 0px;
    top: 112.5px;
  }
  .button:nth-child(3) {
    transform: rotate(calc(360deg / 6 * 2)); /* Third button */
    position: absolute;
    left: 0px;
    top: 37.5px;
  }
  .button:nth-child(4) {
    transform: rotate(calc(360deg / 6 * 3)); /* Fourth button */
    position: absolute;
    left: 64px;
    top: 0px;
    
  }
  .button:nth-child(5) {
    transform: rotate(calc(360deg / 6 * 4)); /* Fifth button */
    position: absolute;
    left: 128px;
    top: 37.5px;
  }
  .button:nth-child(6) {
    transform: rotate(calc(360deg / 6 * 5)); /* Sixth button */
    position: absolute;
    left: 128px;
    top: 112.5px;
  }
  